# SPDX-License-Identifier: MIT
# SPDX-FileCopyrightText: Copyright 2024 SUSE LLC

[Unit]
Description=tik - Transactional Installation Kit

After=local-fs.target plymouth-start.service
Conflicts=plymouth-start.service
Before=getty@tty1.service serial-getty@hvc0.service serial-getty@ttyS0.service serial-getty@ttyS1.service serial-getty@ttyS2.service serial-getty@ttyAMA0.service
Before=display-manager.service
OnSuccess=reboot.target
OnFailure=poweroff.target

Before=systemd-user-sessions.service
# For NM it uses nmcli, so NM needs to be running
After=NetworkManager.service

[Service]
Type=oneshot
Environment=TERM=linux
RemainAfterExit=yes
ExecStartPre=/bin/sh -c "/usr/bin/plymouth quit 2>/dev/null || :"
ExecStart=/usr/sbin/tik
StandardOutput=tty
StandardInput=tty
#StandardError=tty
# enable accessing global keyring to get data from eg. initrd
KeyringMode=shared

[Install]
WantedBy=default.target
